*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-style: italic;
    
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    display: flex;
    margin-right:10px;
    margin-left:10px;
    color: black;
    text-transform: uppercase;
    justify-content:space-between;
    font-family: 'Rubik',sans-serif;
    
}
.nav-link:hover{
    color: black;
}
.form-control{
   height: 40px;
   width: 80px;
   border-radius: 60px;
   outline: none;
   margin-right: -35px;
   border: 2px solid red;
}
.btn{
    height: 40px;
    width:100px;
    outline: none;
    border: none;
    background: rgb(248,26,92);
    color: white;
    font-weight: 700;
    border-radius:60px;
}
.main{
    background-image: url("images/grocery1.jpg");
    background-repeat: no-repeat;
    height:590px;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn1{
   height: 45px;
   width: 35%;
   border: none;
   outline:none;
   background-color:rgb(248,26,92);
   color: white;
   font-weight: 700;
   border-radius: 60px;
}
.btn1:hover{
    background-color: red;
    transition: 0.5s;
    box-shadow: inset;
}
h1{
    font-weight: 700;
}
.apple{
    background:linear-gradient(rgba(202, 174, 174, 0.2),rgba(224, 219, 219, 0.2)),url("images/girl with apple.jpg") no-repeat;
    height: 80vh;
    width: 100%;
    background-size: cover;
    
}
.apple h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.news{
    height: 490px;
    background-color: black;
    color: white;
}
.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}
.news input{
    height: 45px;
    width:55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color:white;
    margin-top: 20px;
    font-weight: 600;

}

.news::placeholder{
    color: white;
}

.news p{
    margin: 0;
}
.fab{
    font-size: 2.3rem;
    cursor: pointer;
    padding-right: 5px;
}


  .form-control{
    width: 100%;
  }


  import url('https://fonts.googleapis.com/css?family=Raleway');

body{font-family: 'Raleway', sans-serif ;}

.tab-style{
font-size:20px;
width:50%;
background-color:#f2f2f2;
  text-align:center;
  

}
.nav-tabs > li > a {
    margin-right: 0px;
    color:grey;
}



.group2 { 
  position: relative; 
  margin-top: 16px; 
}

.btn-block{margin-top:20px;
margin-bottom:20px;
font-size:18px;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {   background-color:#e5ecf4;
color:#4a89dc;}

.login-shadow{-webkit-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
-moz-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
  z-index:1;
   
}

.signup-shadow{-webkit-box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
-moz-box-shadow: -5px -5px 6px 0px rgba(82,82,82,0.52);
box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
  
}


.modal-header{background-color:#e5ecf4;}

.group { 
  position: relative; 
  margin-top: 30px; 
}









@media  screen and (max-width: 767px) and (min-width: 576px){
  #myModal{margin-left:20%;
            margin-right:20%;}

  #forgot-password{margin-left:20%;
            margin-right:20%;}
} 


@media screen and (min-width: 768px) {
  
  #myModal .modal-dialog  {width:500px;}
  
  #forgot-password .modal-dialog{width:500px;}
  
  .modal-body{padding-left:50px;
              padding-right:50px;}
}


.modal-body{background-image:url('http://res.cloudinary.com/rinma/image/upload/v1500489833/Airplane-flying-desktop-pictureproba2_rlcced.jpg');
background-size:cover;
z-inedx:4;}

em{display:none;}



Resources
 